html, body {
    margin: 0;
    padding: 0;
}

.placard {
    width: 8.5in;
    height: 5.5in;
    box-sizing: border-box;
    padding: 0.25in 0.5in;
    margin: 0;
}

.placard:nth-child(even) {
    border-top: solid #900 1px;
    page-break-after: always;
}

header {
    display: flex;
    align-items: center;
}

header img {
    height: 1.5in;
}

header .text {
    text-align: center;
    font-size: 2rem;
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    font-style: normal;
}

.datum {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 1.5rem;
    display: flex;
    padding: 2rem 0 0.2rem;
    border-bottom: solid 2px #666;
    line-height: 1.4;
}

.datum .label {
    width: 50%;
}

.datum .value {
    font-weight: 400;
}