---
layout: ./label_layout.hbs
---
{{#each labels}}
<div class="label-wrapper">
    <div class="label">
        <div class="content">
            <div class="info">
                <div class="name">{{this.last_name}}</div>
                <div class="guests">Citronistas: {{this.guests}}</div>
                <div class="people">{{{this.people}}}</div>
                <div class="status">{{formatStatus this.fee_status}}</div>
                {{#if this.donation}}
                    <div class="thank-you">Donor - thanks!</div>
                {{/if}}
            </div>
            <div class="logo">
                <img src="/img/rendezvous-2024-logo.png" />
            </div>
        </div>
        <div class="ident">
            <div class="title">Citroën Rendezvous 2024</div>
            <div class="loc">Saratoga Springs, NY</div>
            <div class="pep">Enjoy & have fun!</div>
        </div>
    </div>
</div>
{{/each}}